{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <title>Real Time app</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-10.mx-auto.mt-5">
                <canvas id="myChart" width="400" height="200"></canvas>
                
            </div> 
        </div>
    </div>
    <script>
    
    const ctx = document.getElementById('myChart').getContext('2d');
var graphData = {
    type: 'bubble',
    data: {
        //labels: labels,
        datasets: [{
            label:[],
            data: [],
            backgroundColor: [
                'rgba(73, 198, 230, 0.5)', 'rgba(255, 255, 0, 0.5)','rgba(255, 192, 203, 0.5)',
                'rgba(255, 165, 0, 0.5)',
                           ],
               
            borderWidth: 1,
            
        }]
    },
    options: {
        scales: {x: { title: { display: true, text: 'Number of Retweets' }, display: true},
               y: { title: { display: true, text: 'Number of Likes' }, display: true}},
        plugins: {
            tooltip: {
                callbacks: {
                    title: function(Context){
                        return' Retweet, Like and Quote count(X,Y,R):';
                   }

                }
            }

        },
        onClick: (e, i) => {
            if(i.length){
                const firstPoint = i[0];
                window.open(myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index].link);
                
                
            }
            
        }  
    }        
            
}           
            
        
const myChart = new Chart(ctx,graphData );


var socket = new WebSocket('ws://'
+ window.location.host
+ '/ws/tweets');


socket.onmessage = function(e){

    var djangoData = JSON.parse(e.data);
    console.log(djangoData);
    if (djangoData.type === 'tweetmetrics'){
        
    var newGraphData = graphData.data.datasets[0].data;
    //var newGraphLabel = graphData.data.datasets[0].label;
    
    newGraphData.shift();
    
    myChart.reset();
    
    for( let i = 0; i< djangoData.MT_data.length; i++){
        if((djangoData.MT_data[i].Quote_count + djangoData.MT_data[i].Reply_count) > 1000)
            {
                radius = 1000

            }
        else {
            radius = djangoData.MT_data[i].Quote_count + djangoData.MT_data[i].Reply_count
        }
        newGraphData.push(
            {
                x:djangoData.MT_data[i].Retweet_count, //Math.floor(Math.random()*10),
                y:djangoData.MT_data[i].Like_count,  //Math.floor(Math.random()*10),
                r:Math.floor(radius/10), //Math.floor(Math.random()*10),
                link:'https://twitter.com/'+djangoData.MT_data[i].name+'/status/'+djangoData.MT_data[i].id,
                          
                
            }

            );
        
    graphData.data.datasets[0].data= newGraphData;
     
    myChart.update();
    
    
       
    }
    // For pop the previous data
   /* for( let i = 0; i< djangoData.MT_data.length; i++){
        newGraphData.pop(
            {
                x:djangoData.MT_data[i].Retweet_count,
                y:djangoData.MT_data[i].Like_count+10,
                r:djangoData.MT_data[i].Quote_count+10,
                
            }

            );
        //newGraphLabel.pop(djangoData.MT_data[i].id);
        
        
        
    graphData.data.datasets[0].data= newGraphData;
    
           
    }*/
    
} 
 
    
}
    </script>
</body>
</html>