asgiref
aiohttp
async_lru
oauthlib
Django
django-bootstrap-v5
django-cors-headers
gunicorn
psycopg2-binary
python-dotenv
pytz
sqlparse
mysqlclient
tweepy
channels
channels-redis
uvicorn[standard]
websockets